#  Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#  some of the key takeaways from the course

**objectives:**
- creating Jupyter Notebook
- creating markdown cell and using H1,H2,H3 for title and intro
- creating order list in markdown cell
- creating table in markdown cell
- calculating arithmetic expression in code cell

**Some of the popular languages that Data Scientists use are:**
1. Python
2. R
3. Java

**Some of the commonly used libraries used by Data Scientists include:**
1. Numpy
2. Pandas
3. MatplotLib
4. ggplot
5. scikit Learn

| Data Science Tools |
| ------------------ |
|Tensor Flow|
|Apache Spark|
|Anaconda|

### : Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

##  Author
Dev Tanna